$unit: 24
$mobile-prefix: s-
$tablet-prefix: m-
$computer-prefix: l-
$hd-prefix: xl-
$breakpoint-mobile: 568px
$breakpoint-tablet: 768px
$breakpoint-computer: 1024px
$breakpoint-hd: 1280px

$alldevice: ($mobile-prefix $breakpoint-mobile) ($tablet-prefix $breakpoint-tablet) ($computer-prefix $breakpoint-computer) ($hd-prefix $breakpoint-hd)
